{% extends "layout.html" %}
{% block content %}
    <div class="col-sm-3 panel" id="left-most-panel">
        <fieldset class="scheduler-border" id="fieldset-lmp">
            <legend class="scheduler-border" id="legend-lmp">How To Begin</legend>
            <div class="row form-group" id="row-lmp">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary btn-sm btn-block" id="btn-make-building">Build From Scratch</button>
                </div>
                <div class="col-sm-5">
                    <button type="button" class="btn btn-secondary btn-sm btn-block" id="btn-upload-file" data-toggle="modal" data-target="#mdl-upload-file">Upload Building</button>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal fade" id="mdl-upload-file" tabindex="-1" role="dialog" aria-labelledby="uploadFileModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadFileModal">Upload Building Config</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" accept="application/JSON">
                        <label class="custom-file-label">Choose file...</label>
                        <small id="uploadHelp" class="form-text text-muted">Please upload a valid building configuration JSON file.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btn-upload-selected-file">Upload File</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}